<div layout="row" layout-align="center center" >
<md-card flex="100" style="max-width:800px">
  <md-card-content layout="column" class="">
    <div class="" layout="row" layout-padding aria-label="head">
        <div flex="33" layout="column" layout-align="space-around center">
            <div class="md-headline">{{"23:52"}}</div>
            <div class="md-caption">Nombre</div>
        </div>
        <div flex="33" layout="column" layout-align="space-around center">
            <div class="md-headline">{{"00:02"}}</div>
            <div class="md-caption">Turno</div>
        </div>
        <div flex="33" layout="column" layout-align="space-around center">
            <div class="md-headline">{{"02:41"}}</div>
            <div class="md-caption">Terminal</div>
        </div>
    </div>
    <div layout="row" layout-padding>
        <div flex="33" layout="column" layout-align="space-around center">
            <div class="md-headline">{{"A057"}}</div>
            <div class="md-caption">Turno</div>
        </div>
    </div>
  </md-card-content>
</md-card>
</div>
