<div layout="row" layout-align="center center" >
    <md-card flex="100" style="max-width:800;position: relative;">

        <div ng-show="demo.stateAttention < 2  ? true : false" layout="column" layout-wrap layout-padding layout-align="center center" style="position: absolute;bottom: 0;top: 0;right: 0;left: 0;">
              <div ng-show="demo.stateAttention === 1" style="font-size:1.2em;color: #555;">
                  {{demo.tokenToBeTaken.client.screenName}}
                  <span style="font-weight:bold">{{demo.tokenToBeTaken.idToken.numerator + demo.tokenToBeTaken.idToken.consecutive}}</span>
              </div>
              <div  flex="100" style="color: green;font-size: xx-large;text-align: center;">{{stateName[demo.stateAttention]}}</div>
              <div><md-button ng-click="takeToken()" ng-show="demo.stateAttention === 1" flex="100" class="md-raised" style="color:green;font-weight: bold;">{{"Atender"}}</md-button></div>
        </div>

        <md-card-content  layout="column" class="" ng-style="{'visibility': demo.stateAttention < 2 ? 'hidden' : 'visible'}">
          <div class="" layout="row" layout-sm="column" layout-padding aria-label="head">
              <div flex="33" flex-sm="100" layout="column"  style="text-align: center;">
                  <div class="md-headline">{{waitTime}}</div>
                  <div class="md-caption">Tiempo de Espera</div>
                  <div class="md-caption">Creado: {{demo.tokenInAttention.token.infoToken.logCreationToken | date: 'HH:mm:ss'}}</div>
              </div>
              <div flex="33" flex-sm="100" layout="column" style="text-align: center;">
                  <div class="md-headline">{{callTime}}</div>
                  <div class="md-caption">Tiempo de llamado</div>
                  <div class="md-caption">Llamado: {{demo.tokenInAttention.token.infoToken.logCalledToken | date: 'HH:mm:ss'}}</div>

              </div>
              <div flex="33" flex-sm="100" layout="column" style="text-align: center;">
                  <div class="md-headline">{{attentionTime}}</div>
                  <div class="md-caption">Tiempo de atención</div>
                  <div class="md-caption">Atendido: {{demo.tokenInAttention.token.infoToken.logAtentionToken | date: 'HH:mm:ss'}}</div>
              </div>
          </div>

          <div layout="row" layout-padding>
              <div flex="33" layout="column" layout-align="space-around center">
                  <div class="md-headline">
                      {{demo.tokenInAttention.token.idToken.numerator + demo.tokenInAttention.token.idToken.consecutive}}
                  </div>
                  <div class="md-caption">Turno</div>
              </div>
          </div>
          <div>
              <md-list  style="padding: 2px 10px;">
                  <md-list-item class="md-3-line" style="height: inherit;padding: 7px 0;">
                      <div class="md-list-item-text" layout="column" style="padding-bottom:0px">
                          <h3 style="line-height: 1.3em;margin: 0px;">{{ demo.tokenInAttention.token.motivoVisita.serviceName }}</h3>
                          <p style="font-size: 12px;">{{ "motivo de la visita" | uppercase}}</p>
                      </div>
                  </md-list-item>
              </md-list>
          </div>
          <div class="md-whiteframe-z1">
          <md-list  ng-repeat="(key, service) in demo.tokenInAttention.token.infoToken.services" style="padding: 0px;">

              <md-list-item class="md-3-line" ng-repeat="subservice in service.subServices" style="height: inherit;padding: 7px 0;">
                  <md-button class="md-icon-button md-accent" ng-click="editService(demo.tokenInAttention._id, service)" aria-label="Edit">
                      <md-tooltip hide-sm ng-show="visibleTooltip">Editar servicio</md-tooltip>
                      <i class="fa fa-pencil"></i>
                  </md-button>

                  <div class="md-list-item-text" layout="column" style="padding-bottom:0px">
                      <h3 style="line-height: 1.3em;margin: 0px;">{{ subservice.subServiceName }}</h3>
                      <p style="font-size: 12px;">{{ "Servicio: " | uppercase}}{{ service.serviceName | uppercase}}</p>
                  </div>
              </md-list-item>
          </md-list>
      </div>
        </md-card-content>

        <div layout="row"  layout-align="space-between center" ng-hide="demo.onlyRead">
            <md-button style="visibility:hidden" class="md-raised">{{"cierre"}}</md-button>
            <md-fab-speed-dial layout="column" layout-align="center end" ng-hide="demo.hidden || demo.stateAttention < 2  ? true : false"
                md-direction="{{demo.direction}}" class="md-fling">
              <md-fab-trigger layout="row" layout-align="end center">
                <md-button aria-label="menu" class="md-fab md-primary" ng-click="demo.fondonegroT()">
                  <md-tooltip hide-sm md-direction="left" md-autohide="false">Menu</md-tooltip>
                  <i class="fa fa-bars fa-lg"></i>
                </md-button>
              </md-fab-trigger>

              <md-fab-actions style="height: 0px;">
                <div layout="row" layout-align="end center" ng-repeat="(key, item) in demo.items" >
                  <span class="material-tag">{{item.name}}</span>
                  <md-button ng-click="tokenAction(key)" aria-label="{{item.name}}" class="md-fab md-raised {{item.btnColor}}">
                      <i class="fa fa-lg {{item.icon}}"></i>
                  </md-button>
                </div>
              </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </md-card>
</div>
