<div layout="row" flex layout-align="center center">
    <md-dialog aria-label="List dialog">
      <md-dialog-content>
          <md-list ng-hide="showTokenResult">
              <h3 style="padding: 0 16px;">{{"Confirmar petición de turno"  | uppercase}}</h3>
              <md-list-item class="md-3-line" ng-show="dataCustomer.token.screenName">
                <div class="md-list-item-text">
                  <h3> {{ dataCustomer.token.screenName }} </h3>
                  <p style="color:#777">{{"Nombre usuario" | uppercase}}</p>
                </div>
              </md-list-item>
              <md-divider ng-show="dataCustomer.token.screenName"></md-divider>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3> {{dataCustomer.token.lineNumber}} </h3>
                  <p style="color:#777">{{"Número de la linea" | uppercase}}</p>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3 style="line-height: 1.3em;white-space: normal;"> {{dataCustomer.service.service.serviceName}} </h3>
                  <p style="color:#777">{{"Motivo de la visita" | uppercase}}</p>
                </div>
              </md-list-item>
          </md-list>
          <div ng-show="showTokenResult">
              <h3 style="padding: 0 16px;">{{"Su turno Asignado es:" | uppercase}}</h3>
              <h1 class="md-display-3" layout="row" layout-align="center center">
                  {{generatedToken.idToken.numerator + generatedToken.idToken.consecutive}}
              </h1>
          </div>
      </md-dialog-content>
      <div class="md-actions" >
        <md-button ng-hide="showTokenResult" ng-click="cancel()" class="md-primary md-warn" >Cancelar</md-button>
        <md-button ng-hide="showTokenResult" ng-disabled="disableBottonGen" ng-click="tokenGeneration()" class="md-primary md-raised" >Generar</md-button>
        <md-button ng-show="showTokenResult" ng-click="answer('ok')" class="md-primary md-raised" >Aceptar</md-button>
      </div>
    </md-dialog>
</div>
