<div layout="row"g>
  <div flex="50" class="md-whiteframe-1dp" layout-margin style="margin: 6px 0px 6px;">
      <div class="">Roger José  Jimenes</div>
      <div class="md-caption">
          <span class="material-tag">ocupado</span> · Terminal 2 · <a href="">Detalles</a>
      </div>
  </div>
  <div flex="50" class="md-whiteframe-1dp" layout-margin style="margin: 6px 0px 6px;">
      <div class="">Nombre del motivo de la visita</div>
      <div class="md-caption">
          <span class="material-tag">G23</span> · <i class="fa fa-clock-o"></i> 20:49 min  · <i class="fa fa-clock-o"></i> 20:49 min
      </div>
      <div class="md-caption">Nombre del Cliente</div>
  </div>
</div>
