.card-margin-left {
    margin-left: 0;
}

.card-margin-right {
    margin-right: 0;
}

@media (max-width: 980px){
  .card-margin-left {
      margin-right: 0;
  }

  .card-margin-right {
      margin-left: 0;
  }
}
