<div layout="row">
    <div flex="100" class="md-whiteframe-1dp" layout-margin style="margin: 6px 0px 6px;">
        <div class="">{{adviserActivity.token.client.screenName}}</div>
        <div class="md-caption" style="line-height: 20px;">
            <span class="material-tag">{{adviserActivity.token.idToken.numerator}}{{adviserActivity.token.idToken.consecutive}}</span>
             · Espera: {{waitTime}}
        </div>
        <div class="md-caption">{{adviserActivity.token.motivoVisita.serviceName}}</div>
    </div>
</div>
