<div layout="row"  layout-align="center center">
      <form name="myForm" ng-submit="setConfData()" layout="column" flex-xs="100" flex-sm="80" flex-gt-sm="50">
        <h2 style="color:white;text-align:center">Selecciona tus preferencias</h2>
        <md-card flex class="" layout-margin layout-padding>
            <p>Selecciona una sucursal: </p>
            <md-radio-group ng-model="data.branchOffice">
                <md-radio-button ng-repeat="branchOffice in branchOffices" ng-value="branchOffice.posCode" ng-click="setTerminal(branchOffice.posCode)"
                class="md-primary">{{branchOffice.branchOfficesName}}</md-radio-button>
            </md-radio-group>
        </md-card>

        <md-card flex class="" layout-padding layout-padding>
            <p>Selecciona un rol: <span class="radioValue">{{ data.role }}</span> </p>
            <md-radio-group ng-model="data.role">
                <md-radio-button ng-disabled="!data.branchOffice" ng-repeat="role in roles" ng-value="role.code" class="md-primary" required>{{role.name}}</md-radio-button>
            </md-radio-group>
        </md-card>

          <md-card flex class="" layout-margin layout-padding ng-show="terminals.length">
              <p>Selecciona una terminal: <span class="radioValue">{{ data.terminal }}</span> </p>
              <md-radio-group required layout="row" layout-padding layout-wrap ng-model="data.terminal">
                  <md-radio-button flex-xs="40" flex-sm="40" flex-md="40" flex="25" class="md-primary"
                      ng-repeat="terminal in terminals" ng-value="terminal.terminalId"  ng-disabled="!data.role || terminal.disable">
                      {{terminal.terminalName}}
                  </md-radio-button>
              </md-radio-group>
          </md-card>
          <div layout="row"  layout-align="center center">
              <md-button type="submit" flex-sm="100" flex-md="40" class="md-raised md-primary">Listo</md-button>
          </div>
      </form>
</div>
