<div layout="row" layout-wrap>
    <div flex-gt-md="50" flex="100" style="padding:15px;">
        <h3>Actividad de asesores:</h3>

        <div ng-if="!allData.adviser.length" layout="row" flex="100" style="margin: 24px 0px 16px 0px;">
          <h2 flex="100" style="color:#888;text-align: center;">Aún no hay asesores conectados</h2>
        </div>

        <div ng-show="allData.adviser.length">
            <div style="margin-bottom:15px">
                <md-chip flex="25" style="background: rgb(256, 256, 256);"><b>Roles:</b></md-chip>
                <div class="md-chips md-readonly">
                    <div class="md-chip" ng-repeat="rol in roles" style="background: rgb(224,224,224);color: rgb(66,66,66);">
                      {{rol.count}} {{rol.rol}}
                    </div>
                </div>
            </div>

            <md-chip flex="25" style="background: rgb(256, 256, 256);"><b>Actividad:</b></md-chip>
            <div class="md-chips md-readonly">
                <div class="md-chip" ng-repeat="activity in activities" style="background: rgb(224,224,224);color: rgb(66,66,66);">
                    {{activity.count}} {{activity.eventName}}
                </div>
            </div>

        </div>
    </div>

    <div flex-gt-md="50" flex="100" style="padding:15px;border: solid rgb(224,224,224);border-width: 0px 0px 0px 1px;">
        <h3>Actividad clientes:</h3>

        <div ng-if="!allData.customer.length" layout="row" flex="100" style="margin: 24px 0px 16px 0px;">
            <h2 flex="100" style="color:#888;text-align: center;">Aún no hay clientes en atención</h2>
        </div>

        <div ng-show="allData.customer.length">
            <div style="margin-bottom:15px">
                <md-chip style="background: rgb(256, 256, 256);"><b>{{customersAttended[0].count + customersAttended[1].count}} siendo atendidos:</b></md-chip>
                <div class="md-chips md-readonly">
                    <div class="md-chip" ng-repeat="customer in customersAttended" style="background: rgb(224,224,224);color: rgb(66,66,66);">
                        {{customer.count}} {{customer.state}}
                    </div>
                </div>
            </div>
            <md-chip style="background: rgb(256, 256, 256);"><b>{{customersOnHold[0].count + customersOnHold[1].count}} en espera:</b></md-chip>

            <div class="md-chips md-readonly">
                <div class="md-chip" ng-repeat="customer in customersOnHold" style="background: rgb(224,224,224);color: rgb(66,66,66);">
                    {{customer.count}} {{customer.state}}
                </div>
            </div>
        </div>
    </div>

</div>
