<div layout="row" layout-wrap>
    <div flex-gt-md="50" flex="100" style="padding:15px;">
        <h3>Actividad de asesores:</h3>

        <div style="margin-bottom:15px">
            <md-chip flex="25" style="background: rgb(256, 256, 256);"><b>Roles:</b></md-chip>
            <md-chips>
                <md-chip flex="25">9 Ventas</md-chip>
                <md-chip flex="25">4 Servicio</md-chip>
                <md-chip flex="25">1 Orientador</md-chip>
            </md-chips>
        </div>

        <md-chip flex="25" style="background: rgb(256, 256, 256);"><b>Actividad:</b></md-chip>
        <md-chips layout="row">
            <md-chip flex="25">10 en atención, </md-chip>
            <md-chip flex="25">1 Llamando </md-chip>
            <md-chip flex="25">2 Almorzando</md-chip>
            <md-chip flex="25">1 Breack</md-chip>
        </md-chips>
    </div>

    <div flex-gt-md="50" flex="100" style="padding:15px;border: solid rgb(224,224,224);border-width: 0px 0px 0px 1px;">
        <h3>Actividad clientes:</h3>
        <div style="margin-bottom:15px">
            <md-chip style="background: rgb(256, 256, 256);"><b>{{"10"}} siendo atendidos:</b></md-chip>
            <md-chips>
              <md-chip>{{"7"}} puntuales</md-chip>
              <md-chip>{{"3"}} impuntuales</md-chip>
            </md-chips>
        </div>
        <md-chip style="background: rgb(256, 256, 256);"><b>{{"7"}} en espera:</b></md-chip>
        <md-chips>
          <md-chip>{{"4"}} puntuales</md-chip>
          <md-chip>{{"3"}} impuntuales</md-chip>
        </md-chips>
    </div>

</div>
