<div style="" layout="row"  layout-align="center center">
    <fg-token-screen flex="95"></fg-token-screen>
</div>

<div layout="row" layout-wrap layout-align="center">
    <!-- <fg-client-infomation layout-padding flex="30" flex-sm="95" flex-md="35"></fg-client-infomation> -->
    <fg-token-management layout-padding only-read="false" flex="45" flex-sm="95" flex-md="70"></fg-token-management>
</div>

<md-card class="md-whiteframe-4dp">
    <md-card-content>
      <fg-chart-bar id="ns" ancho="1.5%"></fg-chart-bar>
    </md-card-content>
</md-card>

<md-card class="md-whiteframe-4dp">
    <md-card-content>
      <fg-chart-bar id="asa" ancho="2.5%"></fg-chart-bar>
    </md-card-content>
</md-card>

<md-card class="md-whiteframe-4dp">
    <md-card-content>
        <fg-chart-pie id="aht"></fg-chart-pie>
    </md-card-content>
</md-card>
