<div layout="column">
    <section layout="row" flex="100" class="sideNavCanvas">
        <!-- volver componente -->
        <md-sidenav flex class="md-sidenav-left md-whiteframe-2dp sideNavResposive" md-component-id="left"
            md-is-locked-open="$mdMedia('min-width: 600px')">
            <fg-sidenav></fg-sidenav>
        </md-sidenav>


        <md-content flex style="background-color: #F1F1F1">
            <md-toolbar md-scroll-shrink class="md-whiteframe-1dp" style="background-color:white">
                <div class="md-toolbar-tools" >
                  <md-button hide show-sm class="md-icon-button md-primary" ng-click="close()" aria-label="Settings">
                    <i style="color:black" class="fa fa-lg fa-bars"></i>
                  </md-button>

                  <h2 style="color:black" >
                    <i style="color:darkorange" class="fa fa-bolt"></i><span> Actividad en tiempo real</span>
                  </h2>
                  <span flex></span>
                  <md-button class="md-icon-button" aria-label="More">
                    <i style="color:black" class="fa fa-lg fa-caret-down"></i>
                  </md-button>
                </div>
            </md-toolbar>
            <div layout="row" layout-wrap layout-margin>
                <md-card flex="100" class="md-whiteframe-1dp">
                      <md-card-content style="padding: 0;">
                            <fg-header></fg-header>
                      </md-card-content>
                </md-card>

                <md-card layout="row" flex="100" class="md-whiteframe-1dp">
                    <md-card-content flex="95">
                      <div fg-chart-bar-ns></div>
                    </md-card-content>
                </md-card>

                <md-card layout="row" layout-wrap flex="100" class="md-whiteframe-1dp">
                    <md-card-content flex-gt-sm="50" flex-sm="100">
                      <div fg-chart-line flex="100"></div>
                    </md-card-content>
                    <md-card-content flex-gt-sm="50" flex-sm="100">
                      <div fg-chart-bar-aht flex="100"></div>
                    </md-card-content>
                </md-card>

                <md-card ng-show="false" flex="35" flex-md="100" flex-sm="100" class="md-whiteframe-1dp">
                    <md-card-content>
                        <div fg-chart-pie id="aht2"></div>
                    </md-card-content>
                </md-card>

                <fg-activity flex="100"></fg-activity>
            </div>

            <div flex></div>
        </md-content>
    </section>

</div>
