.sideNavResposive {
    min-width: 200px !important;
    width: 250px !important;
    max-width: 250px !important;
    background-color: #17365d;
}

.sideNavCanvas{
    bottom: 0;
    top: 0px;
    right: 0;
    left: 0;
    position: absolute;
}

@media (min-width:600px) and  (max-width: 799px) {
  .sideNavResposive {
      min-width: 50px !important;
      width: 50px !important;
      max-width: 100px !important;
  }
}
@media (max-width: 599px){
  .sideNavResposive {
      min-width: 200px !important;
      width: 300px !important;
      max-width: 350px !important;

  }
}
