<div layout="row" layout-align="center center">
<section class="md-whiteframe-z2" layout="column" layout-margin layout-padding
 layout-align="space-around center"
style="background-color:white;font-size:1.3em">
  <md-input-container>
    <label>Ingresa el número</label>
    <input ng-model="user.title">
  </md-input-container>
  <div layout="row">
    <md-button class="md-fab" style="font-size:1em" aria-label="Eat cake">1</md-button>
    <md-button class="md-fab" style="font-size:1em" aria-label="Use Android">2</md-button>
    <md-button class="md-fab" style="font-size:1em" aria-label="Comment">3</md-button>
  </div>
  <div layout="row">
    <md-button class="md-fab" style="font-size:1em" aria-label="Profile">4</md-button>
    <md-button class="md-fab" style="font-size:1em" aria-label="Comment">5</md-button>
    <md-button class="md-fab" style="font-size:1em" aria-label="Comment">6</md-button>
  </div>
  <div layout="row">
    <md-button class="md-fab" style="font-size:1em" aria-label="Profile">7</md-button>
    <md-button class="md-fab" style="font-size:1em" aria-label="Comment">8</md-button>
    <md-button class="md-fab" style="font-size:1em" aria-label="Comment">9</md-button>
  </div>
  <div layout="row">
    <md-button class="md-fab" style="font-size:1em;visibility: hidden" aria-label="Comment">0</md-button>
    <md-button class="md-fab" style="font-size:1em" aria-label="Comment">9</md-button>
    <md-button class="md-fab md-primary" style="font-size:1em" aria-label="Comment">
      <i class="fa fa-check"></i>
    </md-button>
  </div>
  <div class="">

  </div>
</section>
</div>
