<div layout="row" layout-align="center center">
    <section class="md-whiteframe-z2" layout="column" layout-margin layout-padding
     layout-align="space-around center"
    style="background-color:white;">
        <div layout="row" layout-align="center center">
            <md-input-container flex="60" offset="10">
                <label>Ingresa el número</label>
                <input ng-model="keyboardNumber" readonly  style="font-size:1.5em"  maxlength="10">
            </md-input-container>
            <md-button class="md-raised" ng-click="clearKeyboard()"
                style="border-radius: 50% 0px 0px 50%;min-width:30px;line-height: 20px;min-height: 20px;">
                <i class="fa fa-times"></i>
            </md-button>
        </div>

        <div layout="row">
            <md-button class="md-fab" style="font-size:1em" aria-label="Eat cake" ng-click="addNumber(1)">1</md-button>
            <md-button class="md-fab" style="font-size:1em" aria-label="Use Android" ng-click="addNumber(2)">2</md-button>
            <md-button class="md-fab" style="font-size:1em" aria-label="Comment" ng-click="addNumber(3)">3</md-button>
        </div>
        <div layout="row">
            <md-button class="md-fab" style="font-size:1em" aria-label="Profile" ng-click="addNumber(4)">4</md-button>
            <md-button class="md-fab" style="font-size:1em" aria-label="Comment" ng-click="addNumber(5)">5</md-button>
            <md-button class="md-fab" style="font-size:1em" aria-label="Comment" ng-click="addNumber(6)">6</md-button>
        </div>
        <div layout="row">
            <md-button class="md-fab" style="font-size:1em" aria-label="Profile" ng-click="addNumber(7)">7</md-button>
            <md-button class="md-fab" style="font-size:1em" aria-label="Comment" ng-click="addNumber(8)">8</md-button>
            <md-button class="md-fab" style="font-size:1em" aria-label="Comment" ng-click="addNumber(9)">9</md-button>
        </div>
        <div layout="row">
            <md-button class="md-fab" style="font-size:1em;visibility: hidden" aria-label="Comment">0</md-button>
            <md-button class="md-fab" style="font-size:1em" aria-label="Comment" ng-click="addNumber(0)">0</md-button>
            <md-button class="md-fab md-primary" style="font-size:1em" aria-label="Comment" ng-click="setNumber()">
              <i class="fa fa-check"></i>
            </md-button>
        </div>
    </section>
</div>
{{keyboard}}
