<div layout="row" layout-align="center center">
<md-card flex="100">
  <md-card-content class="fg-resp-text">
    <div class="" layout="row" aria-label="head" style="background:#fff;font-weight: bold;">
        <div flex="50" layout="column" layout-align="space-around center"><div>Nombre</div></div>
        <div flex="20" layout="column" layout-align="space-around center"><div>Turno</div></div>
        <div flex="30" layout="column" layout-align="space-around center"><div>Terminal</div></div>
    </div>
    <div class="" layout="row" aria-label="body" layout-padding ng-repeat="pendingToken in pendingTokens">
        <div flex="50" layout="column" layout-align="space-around center" style="background:#fff">{{pendingToken.token.client.screenName}}</div>
        <div flex="20" layout="column" layout-align="space-around center" style="background:#fff">
            {{pendingToken.token.idToken.numerator + pendingToken.token.idToken.consecutive}}</div>
        <div flex="30" layout="column" layout-align="space-around center" style="background:#fff">6</div>
    </div>
  </md-card-content>
</md-card>
</div>
