<div layout="row" class="header-text" layout-wrap layout-padding layout-align="center center">
    <div flex="15" flex-sm="33">
        <div>58.6</div>
        <small>NS</small>
    </div>
    <div flex="15" flex-sm="33">
        <div>99</div>
        <small>Turnos</small>
    </div>
    <div flex="15" flex-sm="33">
        <div>95</div>
        <small>Atendidos</small>
    </div>
    <div flex="15" flex-sm="33">
        <div>1.1%</div>
        <small>Abandono</small>
    </div>
    <div flex="15" flex-sm="33">
        <div>8.5</div>
        <small>ASA</small>
    </div>
    <div flex="15" flex-sm="33">
        <div>21.3 </div>
        <small>AHT (min)</small>
    </div>
</div>
