.docs-menu, .docs-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
.docs-menu .md-button:hover {
    color: white !important;
}

.docs-menu .md-button.active {
    background: rgba(255, 255, 255, 0.2);;
}

.docs-menu .md-button {
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.sideNavResposive {
    min-width: 200px !important;
    width: 250px !important;
    max-width: 250px !important;
    background-color: #17365d;
}

.sideNavCanvas{
    bottom: 0;
    top: 0px;
    right: 0;
    left: 0;
    position: absolute;
}

@media (min-width:600px) and  (max-width: 799px) {
  .sideNavResposive {
      min-width: 50px !important;
      width: 50px !important;
      max-width: 140px !important;
  }
  .docs-menu .md-button {
      font-size: 0.7em;
  }
}
@media (max-width: 599px){
  .sideNavResposive {
      min-width: 200px !important;
      width: 300px !important;
      max-width: 350px !important;

  }
}
